main{
    padding-bottom: 3%;
}
main>h1{
    text-align: center;
    font-size:3em;
    color: #a51b1b;
}

h3{
    text-align: center;
    line-height: 1.5em;
}

#recherche {
    display: block;
    width: 20%;
    margin-left:40%;
    margin-right:40%;
    height: 27px;
    line-height: 1.4;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

iframe{
    padding-top:2%;
    width:100%;
    height: 800px;;
}
