main h1{
    text-align: center;
    font-size:2.2em;

}

main h2{
    margin-left: 10%;
    font-size:2em;
    text-decoration: underline;

}

main h5 {
    text-align: end;
    margin-right: 2%;
}

section{
    padding: 0.5%;
}

section>h1{
    color: #a51b1b;
}

p{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2em;
}

main h3{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
ul{
    list-style-type: none;
    text-align: center;
    margin-right: 1.3%;
}

main article{
    padding: 2%;
    background-color: #a51b1b;
}